<section data-index="0" class="about">
    <div class="hero-page">
        <div class="row about">
            <div class="col herotext">
                <h1>{{ .Title }}</h1>
                <p>{{ .Params.about }}</p>
                <button type="button" class="btn btn-primary">Learn more</button>
               <div class="social-links"> 
                   {{ range .Params.socialLinks }}
                        <a href="{{ .URL }}"><i class="{{ .icon }}"></i></a>
                    {{ end }}
                </div>
            </div>

            <div class="col">
                <img class="hero" src="{{ .Params.hero }}">
            </div>
        </div>
    </div>
</section> 

