<div class="footer">
    <address>
        {{ with .Params.address }}
            <strong>{{ .business }}</strong><br>
                    {{ .name }}<br>
                    {{ .street }}<br>
                    {{ .city }}<br>
            <abbr title="Phone">P:</abbr>{{ .phone }}<br>
            </address>

    <address>
        <strong>{{ .name }}</strong><br>
        <a href="mailto:#"></a>{{ .email }}</a>
    </address>
        {{ end }}
    <ul class="sponsors">
        <li class="sponsor-logos">
            <a href="#">
        {{ range .Params.logos }}
            <img class="sponsor-logos" src="{{ . }}">
        {{ end }}
            </a>
        </li>
    </ul>  
    <p class="copyright">Copyright© 2020 Saša Milo Kampič</p>  
</div>
