<form class="contact-form">
    <h2 class="contact-title">Contact</h2>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="email">
      </div>
      
    </div>
    <div class="msg-text">
        <textarea id="textarea" rows="3" style="margin-top" class="form-control" placeholder="send text"></textarea>
    </div>
    <div class="submit-button">
      <button type="submit">Submit</button>
    </div>
  </form>