<nav class="navbar fixed-top navbar-light">
        <div class="navbar-brand">
                <a class="logo-first">NA</a><br>
                <a class="logo-second">net</a>
        </div>
            <ul class="nav-links">
                {{ range .Params.blocks }}
                <li><a href="#">{{ .title }}</a></li>
                {{ end }}
                <li><a href="#">{{ .Params.gallery.title }}</a></li>
                <li><a href="#">Testimonials</a></li>
            </ul>

        <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
        </div>
</nav>
