<nav class="navbar fixed-top navbar-light">
        <a href="#" class="navbar-brand">
                <div class="logo">ownet</div>
        </a>
            <ul class="nav-links">
                {{ range .Params.blocks }}
                <li><a data-page="about" href="#about">{{ .title }}</a></li>
                {{ end }}
                <li><a data-page="gallery" href="#gallery">{{ .Params.gallery.title }}</a></li>
                <li><a data-page="testimonials" href="#testimonials">Testimonials</a></li>
                <div class="bubble"></div>
            </ul>

        <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
        </div>
</nav>
