body {
    padding-top: 50px;
    font-family: 'Rubik', sans-serif;
}

.header {
    font-family: 'Rubik', sans-serif;
}

.navbar {
    background-color: white;
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-weight: bold;
    font-size: 2.5em;
}

.hero {
    width: 700px;
}

.img-rounded {
   width: 300px;
}

.blockpic {
    width: 300px;
}

.about {
    padding: 50px 0 50px 0;
}

.left {
    padding-bottom: 10px;
}

.right {
    padding-bottom: 60px;
}

.testimonials h2 {
    padding: 30px 0 20px 0;
}

.testimonials {
    padding: 20px 0 50px 0;
}

.showcase {
    padding: 20px 0 50 0;
}

.gallery {
    display: flex;
}

.blocks {
    padding: 50px 0 50px 0;
}

.footer {
    font-family: 'Rubik', sans-serif;
    padding: 50px 300px 50px 400px;
    background-color: gray;
}

