body {
    padding-top: 50px;
    font-family: 'Rubik', sans-serif;
}

.header {
    font-family: 'Rubik', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-transform: uppercase;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: blue;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}   

.nav-active {
    transform: translateX(0%);
}

h1 {
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-weight: bold;
    font-size: 2.5em;
}

.hero {
    width: 700px;
}

.img-rounded {
   width: 300px;
}

.blockpic {
    width: 300px;
}

.about {
    padding: 50px 0 50px 0;
}

.left {
    padding-bottom: 10px;
}

.right {
    padding-bottom: 60px;
}

.testimonials h2 {
    padding: 30px 0 20px 0;
}

.testimonials {
    padding: 20px 0 50px 0;
}

.showcase {
    padding: 20px 0 50 0;
}

.gallery {
    display: flex;
}

.blocks {
    padding: 50px 0 50px 0;
}

.footer {
    font-family: 'Rubik', sans-serif;
    padding: 50px 300px 50px 400px;
    background-color: gray;
}

